<!-- <a mat-raised-button color="warn" routerLink="/usuario/cadastrar">
    <mat-icon>event</mat-icon>
    Novo Usuário
  </a> -->
  
  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let usuario"> {{usuario._id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
      </ng-container>
      
    <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> Cpf </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.cpf}} </td>
      </ng-container>
      
    <ng-container matColumnDef="criadoEm">
      <th mat-header-cell *matHeaderCellDef> Criado em </th>
      <td mat-cell *matCellDef="let usuario"> {{ usuario.createdAt | date: "dd/MM/yyyy HH:mm:ss" }} </td>
    </ng-container>

    <ng-container matColumnDef="alterar">
        <th mat-header-cell *matHeaderCellDef> Merge </th>
        <td mat-cell *matCellDef="let usuario"><button [routerLink]="['/usuario/cadastrar/']" [queryParams]="{id:usuario._id, nome:usuario.nome, cpf:usuario.cpf, sexo:usuario.sexo}" > Alterar</button></td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef> Remove </th>
        <td mat-cell *matCellDef="let usuario"><button (click)="excluir(usuario._id)">excluir</button> </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>