table {
    margin-top: 16px;
    width: 100%;
}

mat-icon{
    margin-right: 8px;
}


.devolucao{
    flex: 1;
    margin-left: 0px;
    margin-top: 10px;
}

.conteudo-devolucao{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.mensagemmulta{
    margin-left: 100px;
    font-size: 15px;
    color: red;
}