  
<mat-sidenav-container>
    <mat-sidenav opened mode="side" fixedInViewport fixedTopGap="64">
      <mat-nav-list>
          <a mat-list-item routerLink="">
              <mat-icon matListIcon class="material-icons color_black">home</mat-icon>
              <span>Home</span>
          </a>
          <a mat-list-item routerLink="/usuario/cadastrar">
              <mat-icon matListIcon class="material-icons color_blue">person</mat-icon>
              <span>Usuário</span>
          </a>
          <a mat-list-item routerLink="/funcionario/cadastrar">
            <mat-icon matListIcon class="material-icons color_blue">person</mat-icon>
            <span>Funcionário</span>
        </a>
        <a mat-list-item routerLink="/livro/cadastrar">
          <mat-icon matListIcon class="material-icons color_brown">book</mat-icon>
          <span>Livro</span>
      </a>
      <a mat-list-item routerLink="/emprestimo/realizarEmprestimo">
        <mat-icon matListIcon  class="material-icons color_yellow">account_balance</mat-icon>
        <span>Empréstimo</span>
    </a>
    <a mat-list-item routerLink="/devolucao">
      <mat-icon matListIcon  class="material-icons color_green">payments</mat-icon>
      <span>Devolução</span>
      
  </a>
  <a mat-list-item routerLink="/login">
    <mat-icon matListIcon class="material-icons color_red">login</mat-icon>
    <span>Login / Logout</span>
</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>